#upper-footer {
  height: 300px;
  width: 100%;
  background-image: url(../assets/img/footer-bg.jpg);
  .container {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

#bottom-footer {
  height: 100px;
  background-color: #303030;
}
.wrapper {
    height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  height: 20px;
  padding: 0 10px;
}
h6 {
  color: white;
}

.col {
    padding: 0 10px;
}

ul {
  // display: flex;
  // flex-direction: column;
  // margin: 10px 0;
  
  li {
    text-align: left;
      list-style: none;
      a {
        color: #5A646B;
        font-size: 0.7rem;
      text-decoration: none;
    }
  }
}

#button {
  padding: 5px 10px;
  border: 2px solid #0082f9;
  a {
      color: white;
        text-decoration: none;
    }
}