header {
  background-color: white;
}

#nav {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  li {
    display: inline-block;
    a {
      color: #5A646B;
      margin: 0 10px;
    }
  }
}