#content {
  // background-color: black;
  color: white;
  // min-height: 100px;
  display: flex;
  align-items: center;
}

#blue-content {
  background-color: #0082f9;
  height: 100px;
  display: flex;
  align-items: center;
}

#merchandising {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
  }
  img {
    height: 40px;
  }
}